* {
	font-family: "Poppins", sans-serif;
    background-color:#eae8f6;
}
.images{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    top: 100px;
    width: calc(100vw - 20px);
}
@media screen and (min-width: 720px){
    .images{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: calc(100vh - 100px);
    } 
    
    #przyciskJQ
    {
        float: left;
        position: fixed;
    }
}
