* {
	font-family: "Poppins", sans-serif;
    background-color: #eae8f6;
}

.ustawienia
{
    position: fixed;
    top: 200px;
    left: 400px;
    width: 400px;
    border: 1.5px solid;
    padding: 5px;


}
