:root{
    --time-animation: 0.6s;
}
*{
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #eae8f6;
    overflow: hidden scroll;
    -ms-overflow-style: none;
}
.section {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    transition: all var(--time-animation) ease-in-out;
    z-index: 0; 
}

.section:not(.s1) {
    transform: translateY(100vh);
}
body::-webkit-scrollbar {
    display: none;
  }
  
  .container {
      width: 100%;
      height: calc(100vh * 3);
      position: relative;
  }
  #stopkaS1{
    position:fixed;
    float: right;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 300px;
    height: 94px;
    width: auto;
    display: flex;
    font-size: 40px;
    background-color: transparent;
    color: white;
}
#logoMain{
    position: fixed;
    left: 20px;
}
#headerText{
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    left: 0px;   
    align-self: left;
}