* {
	font-family: "Poppins", sans-serif;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.video-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

#myVideo {
	height: calc(100vh - 100px);
	display: flex;
}

#opisQ4 {
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	width: 100vw;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 30px;
	font-family: "Poppins", sans-serif;
}

#moreQ4 {
	transition: 0.3s;
	border-color: transparent;
	color: black;
	text-decoration: none;
}

#moreQ4:hover {
	color: darkgrey;
}

#headerText {
	text-decoration: none;
	color: black;
	transition: 0.3s;
	font-size: 30px;
	padding: 30px;
	position: relative;
	display: flex;
	flex-direction: row;
	left: 0px;
	align-self: left;
}

#headerText:hover {
	color: grey;
}