:root {
    --time-animation: 0.6s;
}
*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #eae8f6;
    overflow: hidden scroll;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
    width: 100%;
    height: calc(100vh * 3);
    position: relative;
}

.section {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    transition: all var(--time-animation) ease-in-out;
    z-index: 0; 
}

.section:not(.s1) {
    transform: translateY(100vh);
}

#myVideo {
    position: fixed;
    float: left;
    top: 94px;
    left: 0px;
    height: 656px;
    display: flex;
}
#opisQ4 {
    position: fixed;
    float: right;
    top: 120px;
    right: 55px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 200px;
    background-color: white;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
}
#stopkaS1{
    position:fixed;
    float: right;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 300px;
    height: 94px;
    width: auto;
    display: flex;
    font-size: 40px;
    background-color: transparent;
    color: white;
}
#logoMain{
    position: fixed;
    left: 20px;
}
#moreQ4{
    border-radius: 12px;
    transition: 0.3s;
    border-color: transparent;
    color: black;
    text-decoration: none;
}
#moreQ4:hover{
    color: darkgrey;
}
#headerText{
    text-decoration: none;
    color: black;
    transition: 0.3s;
    font-size: 30px;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    left: 0px;   
    align-self: left;
}

#headerText:hover{
    color: grey;
}